/* univesal styles */
* {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

}

.primary-btn {
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    padding: 25px;
    margin-left: 342px;
    background: #FFF;
    margin-top: 0;
}

/* header styles */
.header {
    width: 1600px;
    height: 800px;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;

}

.banner-title {
    max-width: 500px;
    margin-left: 900px;
    padding-top: 210px;
    padding-bottom: 166px
}

.title {
    color: #FFF;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    margin: 0;
}


.title-description {
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    margin: 25px 0;

}



/* Main section */
.my-fast {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    gap: 0;

}

.failures-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    max-width: 285px;
    margin-left: 0;
    margin-bottom: 20px;

}

.failures-description,
.failures-reason {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    max-width: 410px;
    margin-bottom: 18px;
}

/* RoadMap styles */
.road-map {
    margin-top: 210px;
}

.plans-title {
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.plans {
    display: flex;
    gap: 80px;
    justify-content: space-around;
}

.plan img {
    width: 92px;
    height: 92px;
    padding-left: 25%;

}

.plan-title {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0;
}


.plan-description {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.note {
    width: 1140px;
    height: 300px;
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    margin-top: 200px;
    margin-bottom: 130px;
}

.positve-note {
    padding-top: 45px;
    position: relative;
    left: -300px;


}

.note-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    max-width: 460px;
}

.note button {
    width: 160px;
}

/* footer style */
footer {
    width: 1600px;
    height: 577px;
    background: #151414;
    padding-top: 150px;
}

.footer {
    display: flex;

}

.future {
    max-width: 485px;
}

.footer-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;

}

.footer-description,
.contact {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.subscribe-title {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 35px;
}

input {
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #151414;
    width: 325px;
    height: 64px;
    margin-bottom: 15px;
    padding: 21px 158x 21px 21px;
}

.subscribe-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    width: 170px;
    padding: 20px 36px;
    border-radius: 8px;
    background: #005FAC;
}